{% extends 'base/base.html' %}

{% block content %}
    {% if validlink %}
        <h1> Nueva Contraseña</h1>
        <form method="post">
            {% csrf_token %}

            {{ form.new_password1.errors }}
            
            <label for="id_new_password">Nueva</label>
            {{ form.new_password1}}

            {{ form.new_password2.errors }}
            
            <label for="id_new_password2">Confirma Contraseña</label>
            {{ form.new_password2}}

            <button type="submit">Cambiar Contraseña</button>
        </form>
    {% else %}
        <p>enlace invalido</p>
    {% endif %}
{% endblock %}